<div class="container" style="margin-top: 50px;">
    <mat-card>
            <div class="mat-display-1">{{tour.name}}</div>
        <mat-carousel hideArrow color="primary" proportion="40">
            <mat-carousel-slide image="{{tour.image}}">
            </mat-carousel-slide>
            <mat-carousel-slide image="{{tour.image}}">
            </mat-carousel-slide>
          </mat-carousel>
        <mat-card-content>
            <app-rate rating="{{tour.rate}}" (ratingUpdated)="ratingClicked($event)"></app-rate>
            <p>
            {{tour.description}}
            </p>
        </mat-card-content>
        <mat-card-actions >
            <button mat-raised-button color="primary">Zarezerwuj</button>
        </mat-card-actions>
    </mat-card> 
</div>



<!-- <div class="container">
    <div class="row justify-content-md-center">
        <div class="col-9">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                    <img class="d-block w-100" src="{{tour.image}}" alt="First slide">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="{{tour.image}}" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                    <img class="d-block w-100" src="{{tour.image}}" alt="Third slide">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-8">

        </div>
        <div class="col-4">
                <button class="btn btn-success" [hidden]=isBookButtonHidden() (click)=bookClicked()>Zarezerwuj</button>
                <button class="btn btn-secondary" [hidden]=isCancelButtonHidden() (click)=cancelClicked()>Anuluj</button>
                <button class="btn btn-danger" (click)=deleteClicked()>Usuń</button>
            </div>
    </div>
</div> -->

