<div class="col-6">
        <div class="row">
            <label>Cena</label>
            <div class="col-2">
                <input type="number" class="input-group-text" [(ngModel)]="priceLowerBound">
            </div>
            <div class="col-2">
                <input type="number" class="input-group-text" [(ngModel)]="priceHigherBound">
            </div>
            <label>Miesiąc</label>
            <select class="custom-select my-1 mr-sm-2" id="inlineFormCustomSelectPref" [(ngModel)]="selectedMonth">
                <option selected>Wybierz...</option>
                <option *ngFor="let month of months" [value]="month">{{month}}</option>
            </select>
            <label>Kraj</label>
            <select class="custom-select my-1 mr-sm-2" [(ngModel)]="selectedCountry">
                <option value="" selected disabled>Wybierz...</option>
                <option *ngFor="let country of countries" [value]="country">{{country}}</option>
            </select>
        </div>
</div>
<div *ngFor="let tour of tours | filter : priceLowerBound:priceHigherBound:selectedMonth:selectedCountry" class="container">
    <app-tour [tour]="tour" (onDelete)="clickedDelete($event)"></app-tour>
</div>
