<div class="container" style="margin-top: 30px;">
    <h2>Zamówienia</h2>
    <p></p>

    <h4 *ngIf="empty">Nie posiadasz jeszcze zadnych zamówień</h4>

    <mat-grid-list cols="4" rowHeight="40px" gutterSize="5px">
        <div *ngFor="let booking of bookings">
            <mat-grid-tile colspan="4" rowspan="1">
                Zamówienie z dnia {{ booking.date | date: 'dd-MM-yyyy' }}
            </mat-grid-tile>
            <div *ngFor="let product of booking.products; let i = index">
                <mat-grid-tile>
                    {{i + 1}}. {{product.tourName}}
                </mat-grid-tile>
                <mat-grid-tile>
                    {{product.startDate | date: 'dd-MM-yyyy'}} - {{product.endDate | date: 'dd-MM-yyyy'}}
                </mat-grid-tile>
                <mat-grid-tile>
                    {{product.totalPrice | currency: 'PLN'}}
                </mat-grid-tile>
                <mat-grid-tile>
                    Ilość miejsc: {{ product.numberOfPlaces }}
                </mat-grid-tile>
            </div>
            <mat-grid-tile colspan="4" rowspan="1">
                
            </mat-grid-tile>
        </div>
    </mat-grid-list>
    <mat-spinner *ngIf="showSpinner" class="spiner"></mat-spinner>
</div>
