.companyName {
    font-size: 110%;
} 

/* .nav-div {
    overflow: inherit;
} */

.link-style {
    text-decoration: none;
    white-space: normal;
}

/* .nav-button {
    min-width: min-content;
} */

/* .example-spacer {
    flex: 1 1 auto;
} */