.companyName {
    font-size: 150%;
} 
.nav-div {
    overflow: inherit;
}

.link-style {
    text-decoration: none;
    font-size: 110%;
    white-space: normal;
}

.nav-button {
    font-size: 110%;
    min-width: min-content;
}

.example-icon {
    padding: 0 14px;
}

.example-spacer {
    flex: 1 1 auto;
}