<div class="container" style="margin-top: 30px;">
    <h2>Dodaj wycieczkę</h2>
    <form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput placeholder="Nazwa" formControlName="name">
    </mat-form-field><br>
    <mat-form-field>
        <input matInput placeholder="Cel podrózy" formControlName="destination">
    </mat-form-field><br>
    <mat-form-field style="margin-right: 20px;">
        <input matInput [matDatepicker]="picker" placeholder="Początek wycieczki" formControlName="startDate">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
        <input matInput [matDatepicker]="picker2" placeholder="Koniec wycieczki" formControlName="endDate">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
        <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field><br>
    <mat-form-field>
        <input matInput type="number" placeholder="Cena" formControlName="price">
    </mat-form-field><br>
    <mat-form-field>
        <input matInput type="number" placeholder="Ilość miejsc" formControlName="numberOfPlaces">
    </mat-form-field><br>
    <mat-form-field>
        <textarea matInput placeholder="Opis" formControlName="description"></textarea>
    </mat-form-field><br>
    <mat-form-field>
        <input matInput placeholder="Zdjęcia" formControlName="image">
    </mat-form-field><br>
    <button mat-stroked-button type="submit">Zatwierdź</button>
    </form>
</div>
