
<mat-card>
    <mat-card-title>Rejestracja</mat-card-title>
    <form [formGroup]="modelForm" (ngSubmit)="onSubmit()">
    <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="isEmailInvalid()">{{getEmailErrorMessage()}}</mat-error>
    </mat-form-field><br>
    <mat-form-field>
        <input matInput formControlName="password" placeholder="Hasło" [type]="hide ? 'password' : 'text'" required>
    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
    </button>
    <mat-error *ngIf="isPasswordInvalid()">{{getPasswordErrorMessage()}}</mat-error>
    </mat-form-field><br>
    <button class="center" mat-stroked-button type="submit">Zarejestruj się</button>
    </form>
</mat-card>
